@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700italic,700,400italic,300italic,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,800italic,700,700italic,600italic,600,400italic,300italic,300);

@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "../../bower_components/font-awesome/less/font-awesome.less";
@import "../../bower_components/bootswatch/yeti/variables.less";
@import "../../bower_components/bootswatch/yeti/bootswatch.less";
@import "headhesive.less";
@import "adhesive.less";

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  font-size: 14px;
  margin-top: 70px;
}

.highlight {

  img {
    height: 160px;
  }

}

.article-list {

  >.row {
    margin-bottom: 30px;
  }

  .articles {

    a {
      &:hover {
        text-decoration: none;

        p:last-child {
          color: #008cba;
        }
      }

      p {
        .lead {
          font-weight: 700;
          letter-spacing: 0.01rem;
          color: #000;
        }

        &:last-child {
          font-size: 14px;
          font-family: 'Merriweather', serif;
          color:#3A4145;
          font-weight: 300;
          line-height: 1.75em;
          letter-spacing: 0.01rem;
        }
      }

      &:last-child {
        margin-bottom: 50px;
      }
    }

  }
}

.article_content {
  font-size: 18px;
  font-family: 'Merriweather', serif;
  color:#3A4145;
  font-weight: 300;
  line-height: 1.75em;
  letter-spacing: 0.01rem;
}

.paging-block {

  .pagination {

    > li {

      > a {
        color: #111;
        border-color: transparent;
        background: #eee;

        &:hover {
          background: #999;
        }

      }
    }

    .active {

      a {
        color: #fff;
        border-color: transparent;
        background: #008cba;
      }

    }
  }

}

pre {

  code {
    font-family: 'Source Code Pro', Monaco, Consolas, "Lucida Console", monospace;
  }
}